site_name: Splinkclickhouse Documentation

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Clickhouse Server:
    - Home: clickhouse_server/index.md
    - Advanced usage: clickhouse_server/advanced.md
  - chdb:
    - Home: chdb/index.md
  - API:
    - Comparison and Comparison Level Library: api/libraries.md

theme:
  name: "material"
  palette:
    - scheme: default
      primary: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            heading_level: 3
            show_root_toc_entry: false
            show_bases: false
            merge_init_into_class: true
            show_source: false
