site_name: Splinkclickhouse Documentation

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Engines:
    - Clickhouse server: engines/clickhouse_server.md
    - chdb: engines/chdb.md
  - Advanced usage: advanced.md
  - API:
    - Home: api/index.md
    - Comparison and Comparison Level Library: api/libraries.md
    - DatabaseAPI: api/database_api.md
  - Contributing: contributing.md

theme:
  name: "material"
  palette:
    - scheme: default
      primary: green
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: green
      accent: amber
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            heading_level: 3
            show_root_toc_entry: false
            show_bases: false
            merge_init_into_class: true
            show_source: false
